/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/

body {
  background-color: rgb(70, 73, 108);
  font-family: Segoe UI;
  font-size: 20px;
}

#Calculate {
  color: rgb(77, 77, 187);
  font-family: Segoe Ui;
}